extends layout

block content

	if user
		button(type='button')
			a(href='/signout') Sign Out

	else 
		h2 SIGN IN
		form(action='/' method='post' id='signin-form')
			div(class='form-group')
				label(for='username')
				input(type='text' class='form-control' placeholder='Username' name='username' value='')
			div(class='form-group')
				label(for='password')
				input(type='text' class='form-control' placeholder='Password' name='password' value='')
			button(type='submit') Sign In

			div(id='signup-btn')
				p(style='font-size: 0.8em;') Not signed up?
				button(type='button')
					a(href='/user/create') Sign Up
