doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	body
		//- - console.log(locals)
		div(id='main')
			header(id='page-header')
				a(href='/') HOME
				a(href='/messages') POSTS
				a(href='/users') USERS
				if locals.authCheck
					a(href=user.url style='margin-left: auto;')= user.username

			block content
