extends layout 

block content
	h2= title
	ul(id='msg-list')
		each message in messages
			li(class='msg-cont')
				if user && user['membership_status']
					div(class='msg-info')
						a(href= message.creator.url class='msg-user')= message.creator.username
						p(class='msg-date')= message['creation_date_formatted']
				p(class='msg-text')= message.text

		block form