extends layout 

block content 
	- const numOfUsers = users.length
	h2(class='page-title')= title + ' [' + numOfUsers + ']'

	ul(id='user-list')
		each user in users 
			li(class='user' style='display: flex; gap: 4px;')
				a(href= user.url)!= user.username